body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: rgb(14, 13, 13);
    background-color: rgb(208, 195, 211);
    font-family: Arial, Helvetica, sans-serif;
}
div#topo{
    width: 100%;
    height: auto;
}
header{
    width: 980px;
    height: 50px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 350px 630px;
}
header #header-contato{
    text-align: right;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0 0 0;
    font-size: 1.5em; /* esse 1.5em significa que ele vai pegar o tamanho definido no body e aumentar em 1.5 vezes (14 * 1.5) */
    font-weight: normal;
}
#grupo h1{
    font-size: 2em;
}
#grupo h2{
    font-size: 1em;
}
header #header-contato li{
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
}
header #header-contato li:first-child{
    margin: 0;
    padding: 0;
    border: none;
}
#topo, #topo a{
    color: #c0bab6;
    background-color: #333333;
    text-decoration: none;
}
span.material-icons{
    vertical-align: middle;
}
a{ 
    color: #333333;
    text-decoration: none;
}
nav{
    width: 980px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
nav ul{
    margin: 0 0 0 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
}
nav li{
    float: left;
    margin: 0 30px 0 0;
}
nav li a{
    display: block;
    padding: 20px 0;
    font-weight: bold;
}
nav.home li.link_home a, nav a:hover{
    color: rgb(239, 226, 250);
}
main{
    width: 980px;
    height: 350px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
}
.sectionMain{
    width: 190px;
    height: 300px;
    border: 1px solid #333333;
    border-radius: 20px;
    padding: 10px;
}
.sectionMain h1{
    text-align: center;
}
.sectionMain p{
    line-height: 20px;
    text-align: justify;
}
.sectionMain article{
    height: 250px;
}
.sectionMain footer{
    text-align: center;
}
.botao{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    padding: 5px 15px;
}
a.botao{
    color: rgba(88, 58, 88, 0.808);
    border: 1px solid;
}
.botao.saiba_mais_caminhoes{
    background: linear-gradient(to right, rgba(88, 58, 88, 0.808), rgba(141, 95, 141, 0.808));
    text-shadow: 1px 1px 0 rgb(51, 50, 50);
    border-radius: 5px;
    border-color: rgba(88, 58, 88, 0.808);
}
.botao.saiba_mais_caminhoes:hover{
    color: rgb(0, 0, 0);
    border-color: black;
}
.botao.saiba_mais_rastreamento{
    background: linear-gradient(to right, rgba(88, 58, 88, 0.808), rgba(141, 95, 141, 0.808));
    text-shadow: 1px 1px 0 rgb(51, 50, 50);
    border-radius: 5px;
    border-color: rgba(88, 58, 88, 0.808);
}
.botao.saiba_mais_rastreamento:hover{
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
.botao.saiba_mais_smartphone{
    background: linear-gradient(to right, rgba(88, 58, 88, 0.808), rgba(141, 95, 141, 0.808));
    text-shadow: 1px 1px 0 rgb(51, 50, 50);
    border-radius: 5px;
    border-color: rgba(88, 58, 88, 0.808);
}
.botao.saiba_mais_smartphone:hover{
    color: rgb(0, 0, 0);
    border-color: black;
}
#sectionCliente{
    width: 100%;
    height: 355px;
    background-color: #333333;
}
#sectionCliente h1{
    text-align: center;
    padding-top: 10px;
    color:rgb(239, 226, 250);
}
#conteudoCliente{
    /* border: 1px solid rgb(239, 226, 250); */
    height: 300px;
    width: 750px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px;
}
#conteudoCliente article{
    border: 4px solid rgb(239, 226, 250);
    margin: 10px;
    border-radius: 10px;
}
#conteudoCliente figcaption{
    color: rgb(239, 226, 250);
}
#conteinnerRodape{
    width: 100%;
    height: 350px;
}
#rodape{
    border: 1px solid red;
    width: 980px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#rodape_comentarios,
#rodape_nav, #caixa_formulario{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
}
.rodape_title{
    text-align: center;
}
#rodape_nav li a{
    height: 15px;
}
#rodape_comentarios li{
    list-style: none;
   
}
#caixa_formulario label{
    display: block;
    margin-bottom: 10px;
}
#caixa_formulario input{
    border-radius: 5px;
    padding-left: 5px;
}
#caixa_formulario textarea{
    height: 100px;
    padding-left: 5px;
    resize: none;
}
#caixa_formulario input, #caixa_formulario textarea{
    border-radius: 5px;
    padding-left: 5px;
    color: rgba(141, 95, 141, 0.808);
    background-color: #333333;
    border: 1px solid grey;
}
#botoes{
    display: flex;
    margin-top: 5px;
}
#caixa_formulario input[type=submit], #caixa_formulario input[type=reset]{
    background-color: grey;
    margin-left: 10px;
    color: black;
    cursor: pointer;
}
#caixa_formulario input[type=submit]{
    margin-left: 0px;
}